<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SweaterWeather</title>
</head>
<body>
    <h1>SweaterWeather</h1>
    <h4>The fitting clothing recommendations for every weather</h4>
    <div class="formdiv">
        <form action="/recommend">
            <input type="text" id="city" placeholder="city">
            <button type="submit">submit</button>
        </form>
    </div>
</body>
</html>